@font-face{
    font-family: "determination";
    src: url("fonts/determination.ttf");
}

@font-face {
    font-family: "mercy";
    src: url("fonts/mercy.otf");
}

#message{
    font-size: 30px;
    font-family: "determination";
    text-align: center;
    color: white;
}

body{
    background-color: black;
}