@font-face{
    font-family: "determination";
    src: url("fonts/determination.ttf");
}

@font-face {
    font-family: "mercy";
    src: url("fonts/mercy.otf");
}

#message{
    font-size: 10px;
    font-family: "determination";
    text-align: center;
    color: white;
}

body{
    background-color: black;
}

.snow{
    background-image: url("imgs/snowy.png");
}

.snowymessage{
    font-family: "determination";
    font-size: 10px;
    margin-left: 400px;
    margin-top: 500px;
}

.thankyou{
    font-family: "determination";
    font-size: 60px;
    text-align: center;
}

.thankyousmaller{
    font-family: "determination";
    font-size: 30px;
    text-align: center;
}